.Header, .Footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1235px;

    padding-inline: 1rem;

    background: rgb(0, 103, 163);
    color: white;
    height: 55px;
}

.Header__title {
    margin: 0;
    font-size: 28px;
    font-weight: 400;
}

.Footer__tasks {
    display: flex;
    gap: 2rem;
}

.Footer__span {
    font-size: 18px;
}

@media (max-width: 650px) {
    .Header {
        justify-content: flex-end;
    }

    .Header__title {
        display: none;
    }

    .Footer {
        display: none;
    }

}